# Lectura 22: DataFrame - Atributos

In [3]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
!pip install fastexcel

Collecting fastexcel
  Downloading fastexcel-0.11.6-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.8 kB)
Requirement already satisfied: pyarrow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from fastexcel) (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow>=8.0.0->fastexcel) (1.26.4)
Downloading fastexcel-0.11.6-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 6.0 MB/s eta 0:00:00
Installing collected packages: fastexcel
Successfully installed fastexcel-0.11.6

In [10]:
import polars as pl

covid = pl.read_excel('/content/drive/MyDrive/polars/seccion04/data_l22/Covid-Dashboard.xlsx', sheet_name='Data')

display(covid)

shape: (36, 12)
┌─────────────────┬───────┬─────────┬────────┬───┬────────────────┬───────┬───────────┬────────────┐
│ State/UTs       ┆ Zone  ┆ Total   ┆ Active ┆ … ┆ Discharge Avg  ┆ Death ┆ Death Avg ┆ Population │
│ ---             ┆ ---   ┆ Cases   ┆ ---    ┆   ┆ ---            ┆ Ratio ┆ ---       ┆ ---        │
│ str             ┆ str   ┆ ---     ┆ i64    ┆   ┆ str            ┆ ---   ┆ str       ┆ i64        │
│                 ┆       ┆ i64     ┆        ┆   ┆                ┆ f64   ┆           ┆            │
╞═════════════════╪═══════╪═════════╪════════╪═══╪════════════════╪═══════╪═══════════╪════════════╡
│ Andaman and     ┆ South ┆ 7670    ┆ 7      ┆ … ┆ Below Average  ┆ 1.68  ┆ Above     ┆ 399001     │
│ Nicobar         ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Andhra Pradesh  ┆ South ┆ 2069770 ┆ 3128   ┆ … ┆ Above Average  ┆ 0.7   ┆ Below     ┆ 91702478   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Arunachal       ┆ East  ┆ 55216   ┆ 42     ┆ … ┆ Above Average  ┆ 0.51  ┆ Below     ┆ 1711947    │
│ Pradesh         ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Assam           ┆ East  ┆ 613784  ┆ 3272   ┆ … ┆ Above Average  ┆ 0.99  ┆ Below     ┆ 35998752   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Bihar           ┆ East  ┆ 726153  ┆ 29     ┆ … ┆ Above Average  ┆ 1.33  ┆ Above     ┆ 128500364  │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ …               ┆ …     ┆ …       ┆ …      ┆ … ┆ …              ┆ …     ┆ …         ┆ …          │
│ Telengana       ┆ South ┆ 673469  ┆ 3741   ┆ … ┆ Above Average  ┆ 0.59  ┆ Below     ┆ 38157311   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Tripura         ┆ East  ┆ 84665   ┆ 116    ┆ … ┆ Above Average  ┆ 0.96  ┆ Below     ┆ 4184959    │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Uttar Pradesh   ┆ North ┆ 1710261 ┆ 90     ┆ … ┆ Above Average  ┆ 1.34  ┆ Above     ┆ 231502578  │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Uttarakhand     ┆ North ┆ 344014  ┆ 158    ┆ … ┆ Below Average  ┆ 2.15  ┆ Above     ┆ 11700099   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ West Bengal     ┆ East  ┆ 1603318 ┆ 8031   ┆ … ┆ Below Average  ┆ 1.2   ┆ Below     ┆ 100896618  │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
└─────────────────┴───────┴─────────┴────────┴───┴────────────────┴───────┴───────────┴────────────┘

In [8]:
import polars as pl

covid = pl.read_excel('/content/Covid-Dashboard.xlsx', sheet_name='Data')

display(covid)

shape: (36, 12)
┌─────────────────┬───────┬─────────┬────────┬───┬────────────────┬───────┬───────────┬────────────┐
│ State/UTs       ┆ Zone  ┆ Total   ┆ Active ┆ … ┆ Discharge Avg  ┆ Death ┆ Death Avg ┆ Population │
│ ---             ┆ ---   ┆ Cases   ┆ ---    ┆   ┆ ---            ┆ Ratio ┆ ---       ┆ ---        │
│ str             ┆ str   ┆ ---     ┆ i64    ┆   ┆ str            ┆ ---   ┆ str       ┆ i64        │
│                 ┆       ┆ i64     ┆        ┆   ┆                ┆ f64   ┆           ┆            │
╞═════════════════╪═══════╪═════════╪════════╪═══╪════════════════╪═══════╪═══════════╪════════════╡
│ Andaman and     ┆ South ┆ 7670    ┆ 7      ┆ … ┆ Below Average  ┆ 1.68  ┆ Above     ┆ 399001     │
│ Nicobar         ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Andhra Pradesh  ┆ South ┆ 2069770 ┆ 3128   ┆ … ┆ Above Average  ┆ 0.7   ┆ Below     ┆ 91702478   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Arunachal       ┆ East  ┆ 55216   ┆ 42     ┆ … ┆ Above Average  ┆ 0.51  ┆ Below     ┆ 1711947    │
│ Pradesh         ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Assam           ┆ East  ┆ 613784  ┆ 3272   ┆ … ┆ Above Average  ┆ 0.99  ┆ Below     ┆ 35998752   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Bihar           ┆ East  ┆ 726153  ┆ 29     ┆ … ┆ Above Average  ┆ 1.33  ┆ Above     ┆ 128500364  │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ …               ┆ …     ┆ …       ┆ …      ┆ … ┆ …              ┆ …     ┆ …         ┆ …          │
│ Telengana       ┆ South ┆ 673469  ┆ 3741   ┆ … ┆ Above Average  ┆ 0.59  ┆ Below     ┆ 38157311   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Tripura         ┆ East  ┆ 84665   ┆ 116    ┆ … ┆ Above Average  ┆ 0.96  ┆ Below     ┆ 4184959    │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Uttar Pradesh   ┆ North ┆ 1710261 ┆ 90     ┆ … ┆ Above Average  ┆ 1.34  ┆ Above     ┆ 231502578  │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ Uttarakhand     ┆ North ┆ 344014  ┆ 158    ┆ … ┆ Below Average  ┆ 2.15  ┆ Above     ┆ 11700099   │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
│ West Bengal     ┆ East  ┆ 1603318 ┆ 8031   ┆ … ┆ Below Average  ┆ 1.2   ┆ Below     ┆ 100896618  │
│                 ┆       ┆         ┆        ┆   ┆                ┆       ┆ Average   ┆            │
└─────────────────┴───────┴─────────┴────────┴───┴────────────────┴───────┴───────────┴────────────┘

### Obtener o cambiar el nombre de las columnas

In [11]:
covid.columns

['State/UTs',
 'Zone',
 'Total Cases',
 'Active',
 'Discharged',
 'Deaths',
 'Active Ratio',
 'Discharge Ratio',
 'Discharge Avg',
 'Death Ratio',
 'Death Avg',
 'Population']

A continuación vamos a cambiar el nombre de las columnas del DataFrame para eliminar espacios en blanco y mayúsculas.

In [13]:
new_columns = []  ## creamos new_columns como lista vacia

for c in covid.columns: ## iteramos en new_columns
    new_columns.append(
        c.lower().replace(' ', '_').replace('/', '_')  ### iteramos las comas espacios replace por guion bajo
    )

new_columns

['state_uts',
 'zone',
 'total_cases',
 'active',
 'discharged',
 'deaths',
 'active_ratio',
 'discharge_ratio',
 'discharge_avg',
 'death_ratio',
 'death_avg',
 'population']

In [15]:
covid.columns = new_columns  ### cambiamos los nombres de columnas

covid.columns

['state_uts',
 'zone',
 'total_cases',
 'active',
 'discharged',
 'deaths',
 'active_ratio',
 'discharge_ratio',
 'discharge_avg',
 'death_ratio',
 'death_avg',
 'population']

In [17]:
display(covid)

shape: (36, 12)
┌────────────┬───────┬────────────┬────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ state_uts  ┆ zone  ┆ total_case ┆ active ┆ … ┆ discharge_ ┆ death_rati ┆ death_avg  ┆ population │
│ ---        ┆ ---   ┆ s          ┆ ---    ┆   ┆ avg        ┆ o          ┆ ---        ┆ ---        │
│ str        ┆ str   ┆ ---        ┆ i64    ┆   ┆ ---        ┆ ---        ┆ str        ┆ i64        │
│            ┆       ┆ i64        ┆        ┆   ┆ str        ┆ f64        ┆            ┆            │
╞════════════╪═══════╪════════════╪════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ Andaman    ┆ South ┆ 7670       ┆ 7      ┆ … ┆ Below      ┆ 1.68       ┆ Above      ┆ 399001     │
│ and        ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Nicobar    ┆       ┆            ┆        ┆   ┆            ┆            ┆            ┆            │
│ Andhra     ┆ South ┆ 2069770    ┆ 3128   ┆ … ┆ Above      ┆ 0.7        ┆ Below      ┆ 91702478   │
│ Pradesh    ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Arunachal  ┆ East  ┆ 55216      ┆ 42     ┆ … ┆ Above      ┆ 0.51       ┆ Below      ┆ 1711947    │
│ Pradesh    ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Assam      ┆ East  ┆ 613784     ┆ 3272   ┆ … ┆ Above      ┆ 0.99       ┆ Below      ┆ 35998752   │
│            ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Bihar      ┆ East  ┆ 726153     ┆ 29     ┆ … ┆ Above      ┆ 1.33       ┆ Above      ┆ 128500364  │
│            ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ …          ┆ …     ┆ …          ┆ …      ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ Telengana  ┆ South ┆ 673469     ┆ 3741   ┆ … ┆ Above      ┆ 0.59       ┆ Below      ┆ 38157311   │
│            ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Tripura    ┆ East  ┆ 84665      ┆ 116    ┆ … ┆ Above      ┆ 0.96       ┆ Below      ┆ 4184959    │
│            ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Uttar      ┆ North ┆ 1710261    ┆ 90     ┆ … ┆ Above      ┆ 1.34       ┆ Above      ┆ 231502578  │
│ Pradesh    ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ Uttarakhan ┆ North ┆ 344014     ┆ 158    ┆ … ┆ Below      ┆ 2.15       ┆ Above      ┆ 11700099   │
│ d          ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
│ West       ┆ East  ┆ 1603318    ┆ 8031   ┆ … ┆ Below      ┆ 1.2        ┆ Below      ┆ 100896618  │
│ Bengal     ┆       ┆            ┆        ┆   ┆ Average    ┆            ┆ Average    ┆            │
└────────────┴───────┴────────────┴────────┴───┴────────────┴────────────┴────────────┴────────────┘

### Obtener el tipo de dato de las columnas

In [16]:
covid.dtypes

[String,
 String,
 Int64,
 Int64,
 Int64,
 Int64,
 Float64,
 Float64,
 String,
 Float64,
 String,
 Int64]

### Obtener el esquema

`schema` retorna un mapeo con el nombre y el tipo de dato de la columna

In [19]:
covid.schema  ## mapeo con el nombre de la columna y el tipo de dato

Schema([('state_uts', String),
        ('zone', String),
        ('total_cases', Int64),
        ('active', Int64),
        ('discharged', Int64),
        ('deaths', Int64),
        ('active_ratio', Float64),
        ('discharge_ratio', Float64),
        ('discharge_avg', String),
        ('death_ratio', Float64),
        ('death_avg', String),
        ('population', Int64)])

### Obtener la forma del DataFrame

In [24]:
covid.shape  ## 36 filas y 12 columnas

(36, 12)

In [25]:
covid.height ## numero de filas

36

In [23]:
covid.width  ## numero de columnas

12