# Lectura 21: DataFrame - Agregaciones

## Máximo y mínimo

- `max`: Obtiene el máximo de cada columna.
- `min`: Obtiene el mínimo de cada columna.
- `max_horizontal`: Obtiene el máximo de una fila.
- `min_horizontal`: Obtiene el mínimo de una fila.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import polars as pl

# Lectura de los datos
df = pl.read_parquet('/content/datos.parquet', columns=['views', 'likes', 'dislikes'], use_pyarrow=True) ## la columna column determina las columnas a descargar

print(df)

shape: (48_137, 3)
┌──────────┬────────┬──────────┐
│ views    ┆ likes  ┆ dislikes │
│ ---      ┆ ---    ┆ ---      │
│ i32      ┆ i32    ┆ i32      │
╞══════════╪════════╪══════════╡
│ 748374   ┆ 57527  ┆ 2966     │
│ 2418783  ┆ 97185  ┆ 6146     │
│ 3191434  ┆ 146033 ┆ 5339     │
│ 343168   ┆ 10172  ┆ 666      │
│ 2095731  ┆ 132235 ┆ 1989     │
│ …        ┆ …      ┆ …        │
│ 1685609  ┆ 38160  ┆ 1385     │
│ 1064798  ┆ 60008  ┆ 382      │
│ 1066451  ┆ 48068  ┆ 1032     │
│ 5660813  ┆ 192957 ┆ 2846     │
│ 10306119 ┆ 357079 ┆ 212976   │
└──────────┴────────┴──────────┘

## polars tiene funciones integradas maximo y minimo

In [6]:
df.max()  ## maximo de cada columna

shape: (1, 3)
┌───────────┬─────────┬──────────┐
│ views     ┆ likes   ┆ dislikes │
│ ---       ┆ ---     ┆ ---      │
│ i32       ┆ i32     ┆ i32      │
╞═══════════╪═════════╪══════════╡
│ 225211923 ┆ 5613827 ┆ 1674420  │
└───────────┴─────────┴──────────┘

In [7]:
df.min()  ## minimo de cada columna

shape: (1, 3)
┌───────┬───────┬──────────┐
│ views ┆ likes ┆ dislikes │
│ ---   ┆ ---   ┆ ---      │
│ i32   ┆ i32   ┆ i32      │
╞═══════╪═══════╪══════════╡
│ 549   ┆ 0     ┆ 0        │
└───────┴───────┴──────────┘

In [16]:
df.max_horizontal()## EL maximo de cada fila del dataframe 48137 filas minimo por cada fila

shape: (48_137,)
Series: 'max' [i32]
[
	748374
	2418783
	3191434
	343168
	2095731
	…
	1685609
	1064798
	1066451
	5660813
	10306119
]

In [14]:
df.min_horizontal()### EL minimo de cada fila del dataframe

shape: (48_137,)
Series: 'min' [i32]
[
	2966
	6146
	5339
	666
	1989
	…
	1385
	382
	1032
	2846
	212976
]

In [18]:
from polars import col  ## importamos la funcion col

df.filter(col('views') == 549).min_horizontal()## lo filtramos por el valor minimo horizontal

shape: (1,)
Series: 'min' [i32]
[
	0
]

In [20]:
df.max_horizontal()

shape: (48_137,)
Series: 'max' [i32]
[
	748374
	2418783
	3191434
	343168
	2095731
	…
	1685609
	1064798
	1066451
	5660813
	10306119
]

In [19]:
df.filter(col('views') == 549).max_horizontal()  ## determinamos el maximo de estas funciones

shape: (1,)
Series: 'max' [i32]
[
	549
]

##hay maximos y minimos por columna y fila

### Media, mediana, varianza y desviación estándar

- `mean`: Halla la media de las columnas.
- `median`: Halla la mediana de las columnas.
- `var`: Halla la varianza de las columnas.
- `std`: Halla la varianza de las columnas.

In [23]:
df.mean()  ## media de cada una de las columnas del dataframe

shape: (1, 3)
┌──────────┬──────────────┬─────────────┐
│ views    ┆ likes        ┆ dislikes    │
│ ---      ┆ ---          ┆ ---         │
│ f64      ┆ f64          ┆ f64         │
╞══════════╪══════════════╪═════════════╡
│ 2.3608e6 ┆ 74266.702435 ┆ 3711.400889 │
└──────────┴──────────────┴─────────────┘

In [24]:
df.median()## mediana de cada una de las columnas del dataframe

shape: (1, 3)
┌──────────┬─────────┬──────────┐
│ views    ┆ likes   ┆ dislikes │
│ ---      ┆ ---     ┆ ---      │
│ f64      ┆ f64     ┆ f64      │
╞══════════╪═════════╪══════════╡
│ 681861.0 ┆ 18091.0 ┆ 631.0    │
└──────────┴─────────┴──────────┘

In [25]:
df.var()## varianza de cada una de las columnas del dataframe

shape: (1, 3)
┌───────────┬───────────┬──────────┐
│ views     ┆ likes     ┆ dislikes │
│ ---       ┆ ---       ┆ ---      │
│ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪══════════╡
│ 5.4673e13 ┆ 5.2388e10 ┆ 8.4272e8 │
└───────────┴───────────┴──────────┘

In [26]:
df.std()## desviacion estandar de cada una de las columnas del dataframe

shape: (1, 3)
┌──────────┬───────────────┬──────────────┐
│ views    ┆ likes         ┆ dislikes     │
│ ---      ┆ ---           ┆ ---          │
│ f64      ┆ f64           ┆ f64          │
╞══════════╪═══════════════╪══════════════╡
│ 7.3941e6 ┆ 228885.338209 ┆ 29029.705945 │
└──────────┴───────────────┴──────────────┘

In [31]:
df

shape: (48_137, 3)
┌──────────┬────────┬──────────┐
│ views    ┆ likes  ┆ dislikes │
│ ---      ┆ ---    ┆ ---      │
│ i32      ┆ i32    ┆ i32      │
╞══════════╪════════╪══════════╡
│ 748374   ┆ 57527  ┆ 2966     │
│ 2418783  ┆ 97185  ┆ 6146     │
│ 3191434  ┆ 146033 ┆ 5339     │
│ 343168   ┆ 10172  ┆ 666      │
│ 2095731  ┆ 132235 ┆ 1989     │
│ …        ┆ …      ┆ …        │
│ 1685609  ┆ 38160  ┆ 1385     │
│ 1064798  ┆ 60008  ┆ 382      │
│ 1066451  ┆ 48068  ┆ 1032     │
│ 5660813  ┆ 192957 ┆ 2846     │
│ 10306119 ┆ 357079 ┆ 212976   │
└──────────┴────────┴──────────┘

In [29]:
df.product()  ## producto de cada columna del dataframe

shape: (1, 3)
┌───────┬───────┬──────────┐
│ views ┆ likes ┆ dislikes │
│ ---   ┆ ---   ┆ ---      │
│ i64   ┆ i64   ┆ i64      │
╞═══════╪═══════╪══════════╡
│ 0     ┆ 0     ┆ 0        │
└───────┴───────┴──────────┘

### Producto

La función `product` calcula el producto de las columnas del DataFrame. Para demostrar el funcionamiento de esta función vamos a crear primeramente un DataFrame más sencillo.

In [28]:
df1 = pl.DataFrame(
    {
        'int': [3,1,7],
        'float': [3.2, 8.9, 1.3]
    }
)


df1.product()

shape: (1, 2)
┌─────┬────────┐
│ int ┆ float  │
│ --- ┆ ---    │
│ i64 ┆ f64    │
╞═════╪════════╡
│ 21  ┆ 37.024 │
└─────┴────────┘

In [30]:
print(df1)

shape: (3, 2)
┌─────┬───────┐
│ int ┆ float │
│ --- ┆ ---   │
│ i64 ┆ f64   │
╞═════╪═══════╡
│ 3   ┆ 3.2   │
│ 1   ┆ 8.9   │
│ 7   ┆ 1.3   │
└─────┴───────┘

### Suma

- `sum`: Suma los valores de las columnas.
- `sum_horizontal`: Suma los valores de la filas.

In [33]:
df1.sum() ##### Suma los valores de las columnas.

shape: (1, 2)
┌─────┬───────┐
│ int ┆ float │
│ --- ┆ ---   │
│ i64 ┆ f64   │
╞═════╪═══════╡
│ 11  ┆ 13.4  │
└─────┴───────┘

In [34]:
df1.sum_horizontal() ######## Suma horizontalmente los valores de las columnas.

shape: (3,)
Series: 'sum' [f64]
[
	6.2
	9.9
	8.3
]