#### polars tiene un poderoso llamado expresiones que es fundamental

## operaciones de ciencia de datos :tomamos una muestra de filas y columnas
##multiplicar valores de una columna
### Extraer el año de una columna
## Convertir una columna de string a mayusculas
## otras operaciones
## una expresion es un arbol de operaciones que describe como construir una o mas series

## el poder de la expresion es que cada expresion produce una nueva expresion que pueden conectarse entre si

In [4]:
import polars as pl
from polars import when,lit

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pl.read_parquet('/content/drive/MyDrive/polars/seccion05/vuelos/vuelos.parquet')
df.head(3)

shape: (3, 31)
┌──────┬───────┬─────┬─────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ YEAR ┆ MONTH ┆ DAY ┆ DAY_OF_WEEK ┆ … ┆ SECURITY_DEL ┆ AIRLINE_DELA ┆ LATE_AIRCRAF ┆ WEATHER_DELA │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ AY           ┆ Y            ┆ T_DELAY      ┆ Y            │
│ i32  ┆ i32   ┆ i32 ┆ i32         ┆   ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│      ┆       ┆     ┆             ┆   ┆ i32          ┆ i32          ┆ i32          ┆ i32          │
╞══════╪═══════╪═════╪═════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
└──────┴───────┴─────┴─────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [6]:
df.select('*')

shape: (5_819_079, 31)
┌──────┬───────┬─────┬─────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ YEAR ┆ MONTH ┆ DAY ┆ DAY_OF_WEEK ┆ … ┆ SECURITY_DEL ┆ AIRLINE_DELA ┆ LATE_AIRCRAF ┆ WEATHER_DELA │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ AY           ┆ Y            ┆ T_DELAY      ┆ Y            │
│ i32  ┆ i32   ┆ i32 ┆ i32         ┆   ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│      ┆       ┆     ┆             ┆   ┆ i32          ┆ i32          ┆ i32          ┆ i32          │
╞══════╪═══════╪═════╪═════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ …    ┆ …     ┆ …   ┆ …           ┆ … ┆ …            ┆ …            ┆ …            ┆ …            │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
└──────┴───────┴─────┴─────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [7]:
df.select(pl.all())

shape: (5_819_079, 31)
┌──────┬───────┬─────┬─────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ YEAR ┆ MONTH ┆ DAY ┆ DAY_OF_WEEK ┆ … ┆ SECURITY_DEL ┆ AIRLINE_DELA ┆ LATE_AIRCRAF ┆ WEATHER_DELA │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ AY           ┆ Y            ┆ T_DELAY      ┆ Y            │
│ i32  ┆ i32   ┆ i32 ┆ i32         ┆   ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│      ┆       ┆     ┆             ┆   ┆ i32          ┆ i32          ┆ i32          ┆ i32          │
╞══════╪═══════╪═════╪═════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ …    ┆ …     ┆ …   ┆ …           ┆ … ┆ …            ┆ …            ┆ …            ┆ …            │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
└──────┴───────┴─────┴─────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [8]:
df.select(pl.col('*').exclude('YEAR','MONTH'))

shape: (5_819_079, 29)
┌─────┬─────────────┬─────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ DAY ┆ DAY_OF_WEEK ┆ AIRLINE ┆ FLIGHT_NUM ┆ … ┆ SECURITY_D ┆ AIRLINE_DE ┆ LATE_AIRCR ┆ WEATHER_DE │
│ --- ┆ ---         ┆ ---     ┆ BER        ┆   ┆ ELAY       ┆ LAY        ┆ AFT_DELAY  ┆ LAY        │
│ i32 ┆ i32         ┆ str     ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│     ┆             ┆         ┆ i32        ┆   ┆ i32        ┆ i32        ┆ i32        ┆ i32        │
╞═════╪═════════════╪═════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1   ┆ 4           ┆ AS      ┆ 98         ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 1   ┆ 4           ┆ AA      ┆ 2336       ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 1   ┆ 4           ┆ US      ┆ 840        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 1   ┆ 4           ┆ AA      ┆ 258        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 1   ┆ 4           ┆ AS      ┆ 135        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ …   ┆ …           ┆ …       ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 31  ┆ 4           ┆ B6      ┆ 688        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 31  ┆ 4           ┆ B6      ┆ 745        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 31  ┆ 4           ┆ B6      ┆ 1503       ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 31  ┆ 4           ┆ B6      ┆ 333        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 31  ┆ 4           ┆ B6      ┆ 839        ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
└─────┴─────────────┴─────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [9]:
import pandas as pd

## lectura 42

## seleccionar las columnas de un dataframe o lazyframe

In [10]:
from datetime import date, datetime

In [11]:
df = pl.DataFrame (
    {
      "id_ciudad": [10,7,5],
      "ciudad": ["Guadalajara","Monterrey","CDMX"],
      "fecha": pl.date_range(date(2024,4,1),date(2024,4,3),"1d", eager=True), # Use pl.date_range instead of pl.date.range
      "monto":[56.90,100.50,1345.30],
      "tiene_aeropuerto": [False, True, False],
      "log": pl.datetime_range(
        datetime(2024,4,1), datetime(2024,4,1,0,0,2),"1s", eager=True
    )
    }
) # Added closing bracket for dictionary

print(df)

shape: (3, 6)
┌───────────┬─────────────┬────────────┬────────┬──────────────────┬─────────────────────┐
│ id_ciudad ┆ ciudad      ┆ fecha      ┆ monto  ┆ tiene_aeropuerto ┆ log                 │
│ ---       ┆ ---         ┆ ---        ┆ ---    ┆ ---              ┆ ---                 │
│ i64       ┆ str         ┆ date       ┆ f64    ┆ bool             ┆ datetime[μs]        │
╞═══════════╪═════════════╪════════════╪════════╪══════════════════╪═════════════════════╡
│ 10        ┆ Guadalajara ┆ 2024-04-01 ┆ 56.9   ┆ false            ┆ 2024-04-01 00:00:00 │
│ 7         ┆ Monterrey   ┆ 2024-04-02 ┆ 100.5  ┆ true             ┆ 2024-04-01 00:00:01 │
│ 5         ┆ CDMX        ┆ 2024-04-03 ┆ 1345.3 ┆ false            ┆ 2024-04-01 00:00:02 │
└───────────┴─────────────┴────────────┴────────┴──────────────────┴─────────────────────┘

In [12]:
df.select(pl.col('id_ciudad'),pl.col('fecha'))  ## hemos ejecutado y seleccionamos 2 columnas

shape: (3, 2)
┌───────────┬────────────┐
│ id_ciudad ┆ fecha      │
│ ---       ┆ ---        │
│ i64       ┆ date       │
╞═══════════╪════════════╡
│ 10        ┆ 2024-04-01 │
│ 7         ┆ 2024-04-02 │
│ 5         ┆ 2024-04-03 │
└───────────┴────────────┘

In [13]:
df.select(pl.col('*'))  ## todas las columnas

shape: (3, 6)
┌───────────┬─────────────┬────────────┬────────┬──────────────────┬─────────────────────┐
│ id_ciudad ┆ ciudad      ┆ fecha      ┆ monto  ┆ tiene_aeropuerto ┆ log                 │
│ ---       ┆ ---         ┆ ---        ┆ ---    ┆ ---              ┆ ---                 │
│ i64       ┆ str         ┆ date       ┆ f64    ┆ bool             ┆ datetime[μs]        │
╞═══════════╪═════════════╪════════════╪════════╪══════════════════╪═════════════════════╡
│ 10        ┆ Guadalajara ┆ 2024-04-01 ┆ 56.9   ┆ false            ┆ 2024-04-01 00:00:00 │
│ 7         ┆ Monterrey   ┆ 2024-04-02 ┆ 100.5  ┆ true             ┆ 2024-04-01 00:00:01 │
│ 5         ┆ CDMX        ┆ 2024-04-03 ┆ 1345.3 ┆ false            ┆ 2024-04-01 00:00:02 │
└───────────┴─────────────┴────────────┴────────┴──────────────────┴─────────────────────┘

In [14]:
df.select(pl.all())  ## todas las columnas

shape: (3, 6)
┌───────────┬─────────────┬────────────┬────────┬──────────────────┬─────────────────────┐
│ id_ciudad ┆ ciudad      ┆ fecha      ┆ monto  ┆ tiene_aeropuerto ┆ log                 │
│ ---       ┆ ---         ┆ ---        ┆ ---    ┆ ---              ┆ ---                 │
│ i64       ┆ str         ┆ date       ┆ f64    ┆ bool             ┆ datetime[μs]        │
╞═══════════╪═════════════╪════════════╪════════╪══════════════════╪═════════════════════╡
│ 10        ┆ Guadalajara ┆ 2024-04-01 ┆ 56.9   ┆ false            ┆ 2024-04-01 00:00:00 │
│ 7         ┆ Monterrey   ┆ 2024-04-02 ┆ 100.5  ┆ true             ┆ 2024-04-01 00:00:01 │
│ 5         ┆ CDMX        ┆ 2024-04-03 ┆ 1345.3 ┆ false            ┆ 2024-04-01 00:00:02 │
└───────────┴─────────────┴────────────┴────────┴──────────────────┴─────────────────────┘

In [15]:
df.select(pl.col('*').exclude('id_ciudad','log'))  ## excluir dos columnas

shape: (3, 4)
┌─────────────┬────────────┬────────┬──────────────────┐
│ ciudad      ┆ fecha      ┆ monto  ┆ tiene_aeropuerto │
│ ---         ┆ ---        ┆ ---    ┆ ---              │
│ str         ┆ date       ┆ f64    ┆ bool             │
╞═════════════╪════════════╪════════╪══════════════════╡
│ Guadalajara ┆ 2024-04-01 ┆ 56.9   ┆ false            │
│ Monterrey   ┆ 2024-04-02 ┆ 100.5  ┆ true             │
│ CDMX        ┆ 2024-04-03 ┆ 1345.3 ┆ false            │
└─────────────┴────────────┴────────┴──────────────────┘

In [16]:
df.select(pl.col('fecha','log').dt.to_string('%Y-%m-%d')) ## seleccionamos la columna use funcion to_string convertir la fecha en string

shape: (3, 2)
┌────────────┬────────────┐
│ fecha      ┆ log        │
│ ---        ┆ ---        │
│ str        ┆ str        │
╞════════════╪════════════╡
│ 2024-04-01 ┆ 2024-04-01 │
│ 2024-04-02 ┆ 2024-04-01 │
│ 2024-04-03 ┆ 2024-04-01 │
└────────────┴────────────┘

In [17]:
df.select(pl.col("^id.*$")) ## SELECCION DE COLUMNAS CON EXPRESIONES REGULARES id

shape: (3, 1)
┌───────────┐
│ id_ciudad │
│ ---       │
│ i64       │
╞═══════════╡
│ 10        │
│ 7         │
│ 5         │
└───────────┘

In [18]:
df.select((pl.col(pl.Int64, pl.Utf8, pl.Datetime)))  #seleccionamos las columnas con los tipos de datos y vuelven asi

shape: (3, 3)
┌───────────┬─────────────┬─────────────────────┐
│ id_ciudad ┆ ciudad      ┆ log                 │
│ ---       ┆ ---         ┆ ---                 │
│ i64       ┆ str         ┆ datetime[μs]        │
╞═══════════╪═════════════╪═════════════════════╡
│ 10        ┆ Guadalajara ┆ 2024-04-01 00:00:00 │
│ 7         ┆ Monterrey   ┆ 2024-04-01 00:00:01 │
│ 5         ┆ CDMX        ┆ 2024-04-01 00:00:02 │
└───────────┴─────────────┴─────────────────────┘

In [19]:
import polars.selectors as cs  ## modulo de selectores

In [20]:
df.select(cs.integer())  ## disponible de selectores columnas enteras

shape: (3, 1)
┌───────────┐
│ id_ciudad │
│ ---       │
│ i64       │
╞═══════════╡
│ 10        │
│ 7         │
│ 5         │
└───────────┘

In [21]:
df

shape: (3, 6)
┌───────────┬─────────────┬────────────┬────────┬──────────────────┬─────────────────────┐
│ id_ciudad ┆ ciudad      ┆ fecha      ┆ monto  ┆ tiene_aeropuerto ┆ log                 │
│ ---       ┆ ---         ┆ ---        ┆ ---    ┆ ---              ┆ ---                 │
│ i64       ┆ str         ┆ date       ┆ f64    ┆ bool             ┆ datetime[μs]        │
╞═══════════╪═════════════╪════════════╪════════╪══════════════════╪═════════════════════╡
│ 10        ┆ Guadalajara ┆ 2024-04-01 ┆ 56.9   ┆ false            ┆ 2024-04-01 00:00:00 │
│ 7         ┆ Monterrey   ┆ 2024-04-02 ┆ 100.5  ┆ true             ┆ 2024-04-01 00:00:01 │
│ 5         ┆ CDMX        ┆ 2024-04-03 ┆ 1345.3 ┆ false            ┆ 2024-04-01 00:00:02 │
└───────────┴─────────────┴────────────┴────────┴──────────────────┴─────────────────────┘

In [22]:
df.select(cs.numeric() -cs.first())  ## todas las columnas numericas pero no la primera columna numerica

shape: (3, 1)
┌────────┐
│ monto  │
│ ---    │
│ f64    │
╞════════╡
│ 56.9   │
│ 100.5  │
│ 1345.3 │
└────────┘

### Lectura 43

In [23]:
import polars as pl
from polars import when,lit

In [24]:
vuelos_lf = (
    pl.scan_parquet('/content/drive/MyDrive/polars/seccion05/vuelos/vuelos.parquet')
)

In [25]:
vuelos_lf.select(
    pl.col('MONTH'),
    when(pl.col('MONTH')<=6)
    .then(lit('First Half'))
    .otherwise(lit('Second Half'))
    .alias('semestre') # Added a value to the lit expression
).collect()

shape: (5_819_079, 2)
┌───────┬─────────────┐
│ MONTH ┆ semestre    │
│ ---   ┆ ---         │
│ i32   ┆ str         │
╞═══════╪═════════════╡
│ 1     ┆ First Half  │
│ 1     ┆ First Half  │
│ 1     ┆ First Half  │
│ 1     ┆ First Half  │
│ 1     ┆ First Half  │
│ …     ┆ …           │
│ 12    ┆ Second Half │
│ 12    ┆ Second Half │
│ 12    ┆ Second Half │
│ 12    ┆ Second Half │
│ 12    ┆ Second Half │
└───────┴─────────────┘

In [26]:
vuelos_lf.group_by('CANCELLATION_REASON').len().collect()

shape: (5, 2)
┌─────────────────────┬─────────┐
│ CANCELLATION_REASON ┆ len     │
│ ---                 ┆ ---     │
│ str                 ┆ u32     │
╞═════════════════════╪═════════╡
│ D                   ┆ 22      │
│ B                   ┆ 48851   │
│ A                   ┆ 25262   │
│ C                   ┆ 15749   │
│ null                ┆ 5729195 │
└─────────────────────┴─────────┘

In [27]:
from polars import coalesce

In [28]:
vuelos_lf.select(
    pl.col('*'),
    coalesce('CANCELLATION_REASON', lit('NA')).alias('CANCELLATION_REASON_DES') # Removed .alias('CANCELLATION_REASON') from lit('NA')
).group_by('CANCELLATION_REASON').len().collect()

shape: (5, 2)
┌─────────────────────┬─────────┐
│ CANCELLATION_REASON ┆ len     │
│ ---                 ┆ ---     │
│ str                 ┆ u32     │
╞═════════════════════╪═════════╡
│ A                   ┆ 25262   │
│ B                   ┆ 48851   │
│ C                   ┆ 15749   │
│ null                ┆ 5729195 │
│ D                   ┆ 22      │
└─────────────────────┴─────────┘

In [29]:
from polars import concat_str

In [30]:
vuelos_lf.select(
    concat_str('YEAR','MONTH','DAY')
).collect()

shape: (5_819_079, 1)
┌──────────┐
│ YEAR     │
│ ---      │
│ str      │
╞══════════╡
│ 201511   │
│ 201511   │
│ 201511   │
│ 201511   │
│ 201511   │
│ …        │
│ 20151231 │
│ 20151231 │
│ 20151231 │
│ 20151231 │
│ 20151231 │
└──────────┘

In [31]:
vuelos_lf.select(
    concat_str('YEAR','MONTH','DAY', separator='_')
).collect()

shape: (5_819_079, 1)
┌────────────┐
│ YEAR       │
│ ---        │
│ str        │
╞════════════╡
│ 2015_1_1   │
│ 2015_1_1   │
│ 2015_1_1   │
│ 2015_1_1   │
│ 2015_1_1   │
│ …          │
│ 2015_12_31 │
│ 2015_12_31 │
│ 2015_12_31 │
│ 2015_12_31 │
│ 2015_12_31 │
└────────────┘

# **##Lectura 44**-agregaciones y funciones de ventana

In [32]:
vuelos_lf = (
    pl.scan_parquet('/content/drive/MyDrive/polars/seccion05/vuelos/vuelos.parquet')
)

In [33]:
(
    vuelos_lf
    .group_by('ORIGIN_AIRPORT')
    .agg(
        (pl.col('AIRLINE')=='AA').sum().alias('AA')
    )
    .sort('AA', descending=True)
    .limit(3)
    ##.collect()

)

In [34]:
vuelos_lf.select(
    pl.col('AIRLINE'),
    pl.col('AIR_TIME').mean().over('AIRLINE').alias('AVG_AIR_TIME'),
    pl.col('ORIGIN_AIRPORT'),
    pl.col('DESTINATION_AIRPORT'),
    pl.col('DEPARTURE_DELAY').mean().over(['ORIGIN_AIRPORT','DESTINATION_AIRPORT']).alias('AVG_DEPARTURE_DELAY')
).collect()

shape: (5_819_079, 5)
┌─────────┬──────────────┬────────────────┬─────────────────────┬─────────────────────┐
│ AIRLINE ┆ AVG_AIR_TIME ┆ ORIGIN_AIRPORT ┆ DESTINATION_AIRPORT ┆ AVG_DEPARTURE_DELAY │
│ ---     ┆ ---          ┆ ---            ┆ ---                 ┆ ---                 │
│ str     ┆ f64          ┆ str            ┆ str                 ┆ f64                 │
╞═════════╪══════════════╪════════════════╪═════════════════════╪═════════════════════╡
│ AS      ┆ 157.844784   ┆ ANC            ┆ SEA                 ┆ 0.979852            │
│ AA      ┆ 139.806208   ┆ LAX            ┆ PBI                 ┆ 4.883117            │
│ US      ┆ 125.774234   ┆ SFO            ┆ CLT                 ┆ 1.909542            │
│ AA      ┆ 139.806208   ┆ LAX            ┆ MIA                 ┆ 6.713811            │
│ AS      ┆ 157.844784   ┆ SEA            ┆ ANC                 ┆ 6.243791            │
│ …       ┆ …            ┆ …              ┆ …                   ┆ …                   │
│ B6      ┆ 143.858492   ┆ LAX            ┆ BOS                 ┆ 7.110834            │
│ B6      ┆ 143.858492   ┆ JFK            ┆ PSE                 ┆ 16.759146           │
│ B6      ┆ 143.858492   ┆ JFK            ┆ SJU                 ┆ 12.840682           │
│ B6      ┆ 143.858492   ┆ MCO            ┆ SJU                 ┆ 11.035048           │
│ B6      ┆ 143.858492   ┆ JFK            ┆ BQN                 ┆ 13.634921           │
└─────────┴──────────────┴────────────────┴─────────────────────┴─────────────────────┘

In [35]:
vuelos_reducido = vuelos_lf.select(
    pl.col('AIRLINE'),
    pl.col('DAY_OF_WEEK'),
    pl.col('ARRIVAL_DELAY')
).collect()

In [36]:
vuelos_reducido.with_columns(
    pl.col(['AIRLINE', 'ARRIVAL_DELAY']).sort_by('ARRIVAL_DELAY').over('DAY_OF_WEEK')
)

shape: (5_819_079, 3)
┌─────────┬─────────────┬───────────────┐
│ AIRLINE ┆ DAY_OF_WEEK ┆ ARRIVAL_DELAY │
│ ---     ┆ ---         ┆ ---           │
│ str     ┆ i32         ┆ i32           │
╞═════════╪═════════════╪═══════════════╡
│ AS      ┆ 4           ┆ null          │
│ AA      ┆ 4           ┆ null          │
│ OO      ┆ 4           ┆ null          │
│ MQ      ┆ 4           ┆ null          │
│ OO      ┆ 4           ┆ null          │
│ …       ┆ …           ┆ …             │
│ AA      ┆ 4           ┆ 1371          │
│ AA      ┆ 4           ┆ 1381          │
│ AA      ┆ 4           ┆ 1456          │
│ AA      ┆ 4           ┆ 1480          │
│ AA      ┆ 4           ┆ 1636          │
└─────────┴─────────────┴───────────────┘

In [37]:
vuelos_reducido

shape: (5_819_079, 3)
┌─────────┬─────────────┬───────────────┐
│ AIRLINE ┆ DAY_OF_WEEK ┆ ARRIVAL_DELAY │
│ ---     ┆ ---         ┆ ---           │
│ str     ┆ i32         ┆ i32           │
╞═════════╪═════════════╪═══════════════╡
│ AS      ┆ 4           ┆ -22           │
│ AA      ┆ 4           ┆ -9            │
│ US      ┆ 4           ┆ 5             │
│ AA      ┆ 4           ┆ -9            │
│ AS      ┆ 4           ┆ -21           │
│ …       ┆ …           ┆ …             │
│ B6      ┆ 4           ┆ -26           │
│ B6      ┆ 4           ┆ -16           │
│ B6      ┆ 4           ┆ -8            │
│ B6      ┆ 4           ┆ -10           │
│ B6      ┆ 4           ┆ 2             │
└─────────┴─────────────┴───────────────┘

Lectura 45-listas y arreglos

In [38]:
city_temperatures = (
    pl.scan_csv('/content/drive/MyDrive/polars/city_temperature.csv')
)

In [39]:
city_temperatures.collect()

shape: (2_906_327, 8)
┌───────────────┬─────────┬─────────────┬─────────────────┬───────┬─────┬──────┬────────────────┐
│ Region        ┆ Country ┆ State       ┆ City            ┆ Month ┆ Day ┆ Year ┆ AvgTemperature │
│ ---           ┆ ---     ┆ ---         ┆ ---             ┆ ---   ┆ --- ┆ ---  ┆ ---            │
│ str           ┆ str     ┆ str         ┆ str             ┆ i64   ┆ i64 ┆ i64  ┆ f64            │
╞═══════════════╪═════════╪═════════════╪═════════════════╪═══════╪═════╪══════╪════════════════╡
│ Africa        ┆ Algeria ┆ null        ┆ Algiers         ┆ 1     ┆ 1   ┆ 1995 ┆ 64.2           │
│ Africa        ┆ Algeria ┆ null        ┆ Algiers         ┆ 1     ┆ 2   ┆ 1995 ┆ 49.4           │
│ Africa        ┆ Algeria ┆ null        ┆ Algiers         ┆ 1     ┆ 3   ┆ 1995 ┆ 48.8           │
│ Africa        ┆ Algeria ┆ null        ┆ Algiers         ┆ 1     ┆ 4   ┆ 1995 ┆ 46.4           │
│ Africa        ┆ Algeria ┆ null        ┆ Algiers         ┆ 1     ┆ 5   ┆ 1995 ┆ 47.9           │
│ …             ┆ …       ┆ …           ┆ …               ┆ …     ┆ …   ┆ …    ┆ …              │
│ North America ┆ US      ┆ Additional  ┆ San Juan Puerto ┆ 7     ┆ 27  ┆ 2013 ┆ 82.4           │
│               ┆         ┆ Territories ┆ Rico            ┆       ┆     ┆      ┆                │
│ North America ┆ US      ┆ Additional  ┆ San Juan Puerto ┆ 7     ┆ 28  ┆ 2013 ┆ 81.6           │
│               ┆         ┆ Territories ┆ Rico            ┆       ┆     ┆      ┆                │
│ North America ┆ US      ┆ Additional  ┆ San Juan Puerto ┆ 7     ┆ 29  ┆ 2013 ┆ 84.2           │
│               ┆         ┆ Territories ┆ Rico            ┆       ┆     ┆      ┆                │
│ North America ┆ US      ┆ Additional  ┆ San Juan Puerto ┆ 7     ┆ 30  ┆ 2013 ┆ 83.8           │
│               ┆         ┆ Territories ┆ Rico            ┆       ┆     ┆      ┆                │
│ North America ┆ US      ┆ Additional  ┆ San Juan Puerto ┆ 7     ┆ 31  ┆ 2013 ┆ 83.6           │
│               ┆         ┆ Territories ┆ Rico            ┆       ┆     ┆      ┆                │
└───────────────┴─────────┴─────────────┴─────────────────┴───────┴─────┴──────┴────────────────┘

In [40]:
avg_temp_city = (
    city_temperatures.group_by('City').agg(
        pl.col('AvgTemperature').implode().flatten()
    )
).collect()

In [41]:
avg_temp_city

shape: (321, 2)
┌────────────┬──────────────────────┐
│ City       ┆ AvgTemperature       │
│ ---        ┆ ---                  │
│ str        ┆ list[f64]            │
╞════════════╪══════════════════════╡
│ Melbourne  ┆ [73.1, 63.7, … 61.5] │
│ Montvideo  ┆ [79.7, 73.7, … 55.4] │
│ Manila     ┆ [78.8, 78.0, … 91.9] │
│ Dublin     ┆ [34.3, 34.8, … 38.2] │
│ South Bend ┆ [29.5, 13.0, … 46.9] │
│ …          ┆ …                    │
│ Toledo     ┆ [35.8, 22.8, … 46.8] │
│ Lansing    ┆ [30.2, 17.7, … 41.7] │
│ Munich     ┆ [33.7, 29.1, … 42.4] │
│ Brussels   ┆ [35.1, 35.4, … 39.7] │
│ Jakarta    ┆ [85.0, 82.3, … 86.9] │
└────────────┴──────────────────────┘

In [42]:
from polars import col

In [43]:
avg_temp_city.select(
    pl.col('City'),
    pl.col('AvgTemperature'),
    pl.col('AvgTemperature').list.head(3).alias('top_3'),
    pl.col('AvgTemperature').list.tail(3).alias('last_3'),
    pl.col('AvgTemperature').list.slice(-3).alias('slice'),
    pl.col('AvgTemperature').list.contains(3).sum().alias('total') # Use list.contains to find values of 3 in the list and sum to count them
)

shape: (321, 6)
┌────────────┬────────────────┬──────────────┬──────────────────────┬──────────────────────┬───────┐
│ City       ┆ AvgTemperature ┆ top_3        ┆ last_3               ┆ slice                ┆ total │
│ ---        ┆ ---            ┆ ---          ┆ ---                  ┆ ---                  ┆ ---   │
│ str        ┆ list[f64]      ┆ list[f64]    ┆ list[f64]            ┆ list[f64]            ┆ u32   │
╞════════════╪════════════════╪══════════════╪══════════════════════╪══════════════════════╪═══════╡
│ Melbourne  ┆ [73.1, 63.7, … ┆ [73.1, 63.7, ┆ [55.7, 59.8, 61.5]   ┆ [55.7, 59.8, 61.5]   ┆ 66    │
│            ┆ 61.5]          ┆ 69.0]        ┆                      ┆                      ┆       │
│ Montvideo  ┆ [79.7, 73.7, … ┆ [79.7, 73.7, ┆ [62.6, 52.7, 55.4]   ┆ [62.6, 52.7, 55.4]   ┆ 66    │
│            ┆ 55.4]          ┆ 72.3]        ┆                      ┆                      ┆       │
│ Manila     ┆ [78.8, 78.0, … ┆ [78.8, 78.0, ┆ [89.9, 89.8, 91.9]   ┆ [89.9, 89.8, 91.9]   ┆ 66    │
│            ┆ 91.9]          ┆ 79.1]        ┆                      ┆                      ┆       │
│ Dublin     ┆ [34.3, 34.8, … ┆ [34.3, 34.8, ┆ [42.8, 45.7, 38.2]   ┆ [42.8, 45.7, 38.2]   ┆ 66    │
│            ┆ 38.2]          ┆ 40.1]        ┆                      ┆                      ┆       │
│ South Bend ┆ [29.5, 13.0, … ┆ [29.5, 13.0, ┆ [40.2, 45.7, 46.9]   ┆ [40.2, 45.7, 46.9]   ┆ 66    │
│            ┆ 46.9]          ┆ 14.5]        ┆                      ┆                      ┆       │
│ …          ┆ …              ┆ …            ┆ …                    ┆ …                    ┆ …     │
│ Toledo     ┆ [35.8, 22.8, … ┆ [35.8, 22.8, ┆ [42.4, 47.3, 46.8]   ┆ [42.4, 47.3, 46.8]   ┆ 66    │
│            ┆ 46.8]          ┆ 19.9]        ┆                      ┆                      ┆       │
│ Lansing    ┆ [30.2, 17.7, … ┆ [30.2, 17.7, ┆ [38.4, 43.4, 41.7]   ┆ [38.4, 43.4, 41.7]   ┆ 66    │
│            ┆ 41.7]          ┆ 18.6]        ┆                      ┆                      ┆       │
│ Munich     ┆ [33.7, 29.1, … ┆ [33.7, 29.1, ┆ [52.5, 43.0, 42.4]   ┆ [52.5, 43.0, 42.4]   ┆ 66    │
│            ┆ 42.4]          ┆ 25.6]        ┆                      ┆                      ┆       │
│ Brussels   ┆ [35.1, 35.4, … ┆ [35.1, 35.4, ┆ [46.5, 45.1, 39.7]   ┆ [46.5, 45.1, 39.7]   ┆ 66    │
│            ┆ 39.7]          ┆ 33.4]        ┆                      ┆                      ┆       │
│ Jakarta    ┆ [85.0, 82.3, … ┆ [85.0, 82.3, ┆ [84.4, 85.3, 86.9]   ┆ [84.4, 85.3, 86.9]   ┆ 66    │
│            ┆ 86.9]          ┆ 81.7]        ┆                      ┆                      ┆       │
└────────────┴────────────────┴──────────────┴──────────────────────┴──────────────────────┴───────┘

In [44]:
avg_temp_city.select(
    pl.col('City'),
    pl.col('AvgTemperature'),
    pl.col('AvgTemperature').list.min().alias('temp_min'),
    pl.col('AvgTemperature').list.max().alias('temp_max'),
    pl.col('AvgTemperature').list.mean().alias('temp_avg'),
).sort('temp_avg', descending=True)

shape: (321, 5)
┌──────────────────┬────────────────────────┬──────────┬──────────┬────────────┐
│ City             ┆ AvgTemperature         ┆ temp_min ┆ temp_max ┆ temp_avg   │
│ ---              ┆ ---                    ┆ ---      ┆ ---      ┆ ---        │
│ str              ┆ list[f64]              ┆ f64      ┆ f64      ┆ f64        │
╞══════════════════╪════════════════════════╪══════════╪══════════╪════════════╡
│ Dubai            ┆ [67.7, 66.9, … 80.4]   ┆ -99.0    ┆ 107.5    ┆ 82.972631  │
│ Chennai (Madras) ┆ [72.4, 73.5, … 84.2]   ┆ -99.0    ┆ 97.9     ┆ 82.847021  │
│ Doha             ┆ [65.4, 62.2, … 85.4]   ┆ -99.0    ┆ 108.5    ┆ 82.235625  │
│ Abu Dhabi        ┆ [64.0, 67.1, … 83.5]   ┆ -99.0    ┆ 107.3    ┆ 82.192499  │
│ Niamey           ┆ [74.0, 74.6, … 92.9]   ┆ -99.0    ┆ 102.8    ┆ 81.951619  │
│ …                ┆ …                      ┆ …        ┆ …        ┆ …          │
│ Frankfurt        ┆ [-99.0, -99.0, … 55.2] ┆ -99.0    ┆ 85.2     ┆ -13.668786 │
│ Lilongwe         ┆ [69.5, 69.5, … 61.8]   ┆ -99.0    ┆ 90.7     ┆ -20.585544 │
│ Georgetown       ┆ [-99.0, -99.0, … 84.0] ┆ -99.0    ┆ 90.6     ┆ -22.10152  │
│ Bonn             ┆ [-99.0, 32.6, … 64.5]  ┆ -99.0    ┆ 86.9     ┆ -46.86805  │
│ Bujumbura        ┆ [-99.0, -99.0, … 48.2] ┆ -99.0    ┆ 89.1     ┆ -65.397138 │
└──────────────────┴────────────────────────┴──────────┴──────────┴────────────┘

In [52]:
avg_temp_city_array = avg_temp_city.with_columns(  ### .cast-- Convierte las columnas DataFrame a los tipos de datos especificados.
    temp_array=pl.col('AvgTemperature').list.gather([0,1,2]).cast(pl.Array(inner=pl.Float64, shape=3)))

In [53]:
avg_temp_city_array

shape: (321, 3)
┌────────────┬──────────────────────┬────────────────────┐
│ City       ┆ AvgTemperature       ┆ temp_array         │
│ ---        ┆ ---                  ┆ ---                │
│ str        ┆ list[f64]            ┆ array[f64, 3]      │
╞════════════╪══════════════════════╪════════════════════╡
│ Melbourne  ┆ [73.1, 63.7, … 61.5] ┆ [73.1, 63.7, 69.0] │
│ Montvideo  ┆ [79.7, 73.7, … 55.4] ┆ [79.7, 73.7, 72.3] │
│ Manila     ┆ [78.8, 78.0, … 91.9] ┆ [78.8, 78.0, 79.1] │
│ Dublin     ┆ [34.3, 34.8, … 38.2] ┆ [34.3, 34.8, 40.1] │
│ South Bend ┆ [29.5, 13.0, … 46.9] ┆ [29.5, 13.0, 14.5] │
│ …          ┆ …                    ┆ …                  │
│ Toledo     ┆ [35.8, 22.8, … 46.8] ┆ [35.8, 22.8, 19.9] │
│ Lansing    ┆ [30.2, 17.7, … 41.7] ┆ [30.2, 17.7, 18.6] │
│ Munich     ┆ [33.7, 29.1, … 42.4] ┆ [33.7, 29.1, 25.6] │
│ Brussels   ┆ [35.1, 35.4, … 39.7] ┆ [35.1, 35.4, 33.4] │
│ Jakarta    ┆ [85.0, 82.3, … 86.9] ┆ [85.0, 82.3, 81.7] │
└────────────┴──────────────────────┴────────────────────┘

In [59]:
avg_temp_city_array.select(
    pl.col('temp_array').alias('array'),
    pl.col('temp_array').arr.min().alias('min'),
    pl.col('temp_array').arr.max().alias('max'),
    pl.col('temp_array').arr.count_matches(33.0).alias('count_33'), ##Cuente con qué frecuencia ocurre el valor producido element.
    pl.col('temp_array').arr.sort().alias('temp_sort'),
)

shape: (321, 5)
┌────────────────────┬──────┬──────┬──────────┬────────────────────┐
│ array              ┆ min  ┆ max  ┆ count_33 ┆ temp_sort          │
│ ---                ┆ ---  ┆ ---  ┆ ---      ┆ ---                │
│ array[f64, 3]      ┆ f64  ┆ f64  ┆ u32      ┆ array[f64, 3]      │
╞════════════════════╪══════╪══════╪══════════╪════════════════════╡
│ [73.1, 63.7, 69.0] ┆ 63.7 ┆ 73.1 ┆ 0        ┆ [63.7, 69.0, 73.1] │
│ [79.7, 73.7, 72.3] ┆ 72.3 ┆ 79.7 ┆ 0        ┆ [72.3, 73.7, 79.7] │
│ [78.8, 78.0, 79.1] ┆ 78.0 ┆ 79.1 ┆ 0        ┆ [78.0, 78.8, 79.1] │
│ [34.3, 34.8, 40.1] ┆ 34.3 ┆ 40.1 ┆ 0        ┆ [34.3, 34.8, 40.1] │
│ [29.5, 13.0, 14.5] ┆ 13.0 ┆ 29.5 ┆ 0        ┆ [13.0, 14.5, 29.5] │
│ …                  ┆ …    ┆ …    ┆ …        ┆ …                  │
│ [35.8, 22.8, 19.9] ┆ 19.9 ┆ 35.8 ┆ 0        ┆ [19.9, 22.8, 35.8] │
│ [30.2, 17.7, 18.6] ┆ 17.7 ┆ 30.2 ┆ 0        ┆ [17.7, 18.6, 30.2] │
│ [33.7, 29.1, 25.6] ┆ 25.6 ┆ 33.7 ┆ 0        ┆ [25.6, 29.1, 33.7] │
│ [35.1, 35.4, 33.4] ┆ 33.4 ┆ 35.4 ┆ 0        ┆ [33.4, 35.1, 35.4] │
│ [85.0, 82.3, 81.7] ┆ 81.7 ┆ 85.0 ┆ 0        ┆ [81.7, 82.3, 85.0] │
└────────────────────┴──────┴──────┴──────────┴────────────────────┘