# Lectura 08: Series - Strings

Los siguientes métodos están disponibles bajo el atributo `Series.str`

### Concatenar

In [2]:
import polars as pl

In [4]:
s1 = pl.Series('texto', ['Polars', 'es', 'rápidooo'])  ## serie de string

In [6]:
s1.str.concat()  ### concatenar son metodos serie.str acceso a funciones de string

shape: (1,)
Series: 'texto' [str]
[
	"Polars-es-rápi…
]

Concatenar con un delimitador personalizado

In [8]:
s1.str.concat(' ')## concatenar con un delimitador predeterminado

shape: (1,)
Series: 'texto' [str]
[
	"Polars es rápi…
]

### Reemplazo

`replace` reemplaza la primera coincidencia de la serie

In [10]:
s1.str.replace('es', 'es muy')  ## reemplaza la primera coincidencia de la serie

shape: (3,)
Series: 'texto' [str]
[
	"Polars"
	"es muy"
	"rápidooo"
]

In [12]:
s1.str.replace('^P', 'Y') ## reemplaza la primera coincidencia de la serie, patron o pattern

shape: (3,)
Series: 'texto' [str]
[
	"Yolars"
	"es"
	"rápidooo"
]

`replace_all` reeplaza todas las coincidencias que encuentre en la serie

In [13]:
s1.str.replace('o', '=')  ## reemplaza la primera coincidencia de la serie, replace o replace_all

shape: (3,)
Series: 'texto' [str]
[
	"P=lars"
	"es"
	"rápid=oo"
]

In [15]:
s1.str.replace_all('o', '=')  ###

shape: (3,)
Series: 'texto' [str]
[
	"P=lars"
	"es"
	"rápid==="
]

### Remover espacios a la izquierza y a la derecha

In [16]:
s2 = pl.Series('texto', ['   jose', 'julia '])

In [24]:
s2.str.strip_chars_start() ## remueve espacios en blanco iniciales

shape: (2,)
Series: 'texto' [str]
[
	"jose"
	"julia "
]

In [20]:
s2.str.strip_chars_end()

shape: (2,)
Series: 'texto' [str]
[
	"   jose"
	"julia"
]

In [25]:
s2.str.strip_chars() ## remueve espacios en blanco al inicio y al final

shape: (2,)
Series: 'texto' [str]
[
	"jose"
	"julia"
]

### Verificar si un string comienza o termina con un valor

In [17]:
s3 = pl.Series('color', ['verde', 'azul', 'rojo'])

s3.str.starts_with('r')

shape: (3,)
Series: 'color' [bool]
[
	false
	false
	true
]

In [22]:
s3.str.ends_with('l')  ## verificar si los elementos de la serie finalizan con l

shape: (3,)
Series: 'color' [bool]
[
	false
	true
	false
]

### Longitud de un string

In [26]:
s3.str.len_bytes() ## longitud en byte de cada elemento

shape: (3,)
Series: 'color' [u32]
[
	5
	4
	4
]

### Convertie a mayúsculas y minúsculas

In [27]:
s4 = pl.Series('texto', ['JOSE', 'Jose', 'jose'])

In [28]:
s4.str.to_uppercase()

shape: (3,)
Series: 'texto' [str]
[
	"JOSE"
	"JOSE"
	"JOSE"
]

In [29]:
s4.str.to_lowercase()

shape: (3,)
Series: 'texto' [str]
[
	"jose"
	"jose"
	"jose"
]

##datetime

In [30]:
import polars as pl
from datetime import datetime

In [32]:
s1 = pl.Series("fecha", [datetime(2023, 2, 10), datetime(2023, 11,23,12,35,56)])

In [33]:
print(s1)

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-10 00:00:00
	2023-11-23 12:35:56
]

In [35]:
s1.dt.date()  ##extraccion de la fecha de los elementos

shape: (2,)
Series: 'fecha' [date]
[
	2023-02-10
	2023-11-23
]

In [37]:
s1.dt.datetime()##extraccion de la fecha y hora de los elementos

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-10 00:00:00
	2023-11-23 12:35:56
]

In [36]:
s1.dt.time()  ##extraccion de la hora de los elementos

shape: (2,)
Series: 'fecha' [time]
[
	00:00:00
	12:35:56
]

##EXTRACCION AÑO,MES,DIA Y HORA DE LA SERIE

In [38]:
s1.dt.year()##extraccion del año de los elementos

shape: (2,)
Series: 'fecha' [i32]
[
	2023
	2023
]

In [39]:
s1.dt.month()##extraccion del mes de los elementos

shape: (2,)
Series: 'fecha' [i8]
[
	2
	11
]

In [40]:
s1.dt.day()##extraccion del dia de los elementos

shape: (2,)
Series: 'fecha' [i8]
[
	10
	23
]

In [42]:
s1.dt.hour()##extraccion de la hora de los elementos

shape: (2,)
Series: 'fecha' [i8]
[
	0
	12
]

In [45]:
s1.dt.month_start()##extraccion del mes de los elementos

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-01 00:00:00
	2023-11-01 12:35:56
]

In [46]:
s1.dt.month_end()##extraccion del mes de los elementos

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-28 00:00:00
	2023-11-30 12:35:56
]

In [50]:
s1.dt.min()##extraccion fecha minima

datetime.datetime(2023, 2, 10, 0, 0)

In [51]:
s1.dt.max()##extraccion fecha maxima

datetime.datetime(2023, 11, 23, 12, 35, 56)

In [52]:
s1.dt.week()##extraccion de la semana de los elementos

shape: (2,)
Series: 'fecha' [i8]
[
	6
	47
]

In [54]:
s1.dt.weekday()##extraccion del dia de la semana de los elementos lunes al primer dia y domingo 7mo dia

shape: (2,)
Series: 'fecha' [i8]
[
	5
	4
]