# Lectura 11: Series - Conversiones

### Convertir una serie a un arreglo de tipo Arrow

In [1]:
import polars as pl

s1 = pl.Series('num', [1,2,3])

In [3]:
s_arrow = s1.to_arrow()

s_arrow  ## convertido a un arreglo de tipo arrow

<pyarrow.lib.Int64Array object at 0x7e7a58099f00>
[
  1,
  2,
  3
]

In [4]:
s2 = pl.Series('texto', ['verde', 'negro'])

s2_arrow = s2.to_arrow()

s2_arrow

<pyarrow.lib.LargeStringArray object at 0x7e7a5809a1a0>
[
  "verde",
  "negro"
]

In [5]:
type (s2_arrow)

pyarrow.lib.LargeStringArray

### Convertir una serie a una lista de Python

In [7]:
s1_list = s1.to_list()  ### funcion to_list elementos de la serie de polars en lista de python

print(type(s1_list))

s1_list

<class 'list'>

[1, 2, 3]

### Convertir una serie a Numpy

In [8]:
s1_numpy = s1.to_numpy() ## serie de polars a un elemento numpy

print(s1_numpy.dtype)

s1_numpy

int64

array([1, 2, 3])

### Convertir una serie de Polars a una serie de Pandas

Esta operación requiere que `panda` y `pyarrow` estén instalados.

In [9]:
import pandas as pd
import pyarrow as pa

In [10]:
s1_pandas = s1.to_pandas()

print(s1_pandas.dtype)

s1_pandas

int64

0    1
1    2
2    3
Name: num, dtype: int64

### Castear una serie de Polars a una DataFrame de Polars

In [12]:
s1_df = s1.to_frame()  ## funcion to_frame de polars a un dataframe de pandas

s1_df  ## dataframe de polars

shape: (3, 1)
┌─────┐
│ num │
│ --- │
│ i64 │
╞═════╡
│ 1   │
│ 2   │
│ 3   │
└─────┘

##otros metodos listas arreglos, metodos matematicos

In [24]:
frutas = pl.Series("fruta",[ "  uva", "naranjA ", "FresA ", "mangO"])

In [25]:
frutas

shape: (4,)
Series: 'fruta' [str]
[
	"  uva"
	"naranjA "
	"FresA "
	"mangO"
]

In [26]:
frutas_b = frutas.str.strip_chars().str.to_lowercase()

In [28]:
frutas_b ## todos en minuscula y ninguno tiene espacios en blanco al inicio ni al final

shape: (4,)
Series: 'fruta' [str]
[
	"uva"
	"naranja"
	"fresa"
	"mango"
]

In [31]:
frutas_ter_a = frutas_b.str.ends_with("a")  ## crear una serie con los elementos que terminan con la letra a

In [30]:
frutas_ter_a

shape: (4,)
Series: 'fruta' [bool]
[
	true
	true
	true
	false
]

In [34]:
frutas_a = frutas_b.str.replace_all("a","o") ## reemplazo la letra a por o

In [33]:
frutas_a

shape: (4,)
Series: 'fruta' [str]
[
	"uvo"
	"noronjo"
	"freso"
	"mongo"
]

##ejercicio 02-.

##Cree una nueva serie a partir de la obtenida en el inciso b que indique verdadero o falso si el elemento de la serie termina en la letra a.

In [35]:
num = pl.Series("num", [6, 6, 3, 23, 20, 12, 2, 15])

In [36]:
num

shape: (8,)
Series: 'num' [i64]
[
	6
	6
	3
	23
	20
	12
	2
	15
]

In [37]:
num.max()

23

In [39]:
num.min()

2

In [40]:
num.mean()

10.875

In [41]:
num.sum()

87

In [43]:
print(f"el maximo {num.max()}")  ## hacer todos los ejemplos

el maximo 23

##factorial de un numero 1!

In [46]:
def factorial(n:int):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [47]:
def factorial(n:int):
  if n == 0:
    return 1
  else:
    s = pl.Series("num", list(range(1,n+1)))
    return s.product()

In [48]:
factorial(0)

1

In [49]:
factorial(3)

6

In [50]:
factorial(5)

120

In [51]:
1*2*3*4*5

120